<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content" id="to-eat">
            {{#each meals}}
            {{#unless demolished}}
            <p class="title">{{meal}}
              <span>
                <button class="button" data-value={{id}}>Demolish</button>
              </span>
            </p>
            {{/unless}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content" id="eaten">
            {{#each meals}}
            {{#if demolished}}
            <p class="title">{{meal}} 
              <span>
                <button class="button" data-value={{id}}>Delete</button>
              </span>
            </p>
            {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form action="/cookthis" method="POST">
  <section class="section">
    <div class="container">
      <div class="field">
        <label class="label">Hungry?</label>
        <div class="control">
          <textarea class="textarea" name = "meal" placeholder="Of course you are"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="radio">
            <input type="radio" name="demolished" value=1>
            Eat Now
          </label>
          <label class="radio">
            <input type="radio" name="demolished" value=0>
            Eat Later
          </label>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered control">
        <button type="submit" class="button is-primary m-2">Submit</button>
      </div>
    </div>
  </section>
</form>

<script type="text/javascript">
  $("#to-eat button").on("click", function(event) {
    event.preventDefault();
    let foodId = $(this).data('value');
    $.ajax({
      url: `/demolish/${foodId}`,
      type: 'PUT'
    }).then(res => {
      location.reload();
    })
  })

  $("#eaten button").on("click", function(event) {
    event.preventDefault();
    console.log($(this).data('value'))
  })
</script>