  
<div class="form">
  <form action="/cookthis" method="POST">
    <label class="label">Hungry?</label>
    <textarea required class="textarea" name = "meal" placeholder="Of course you are"></textarea>
    <label class="radio"><input required type="radio" name="demolished" value=1>Eat Now</label>
    <label class="radio"><input required type="radio" name="demolished" value=0>Eat Later</label>
    <button type="submit" class="btn-submit">Save</button>
  </form>
</div>

<div class="main-content">
  <div class="content">
    <div class="col" id="to-eat">
      <h2>Click to Eat</h2>
      {{#each meals}}
      {{#unless demolished}}
      <p data-value={{id}}>{{meal}}<a class="btn-display"><i class="fas fa-utensils"></i></a> </p>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col" id="eaten">
      <h2>Click to Toss</h2>
      {{#each meals}}
      {{#if demolished}}
      <p data-value={{id}}>{{meal}}<a class="btn-display"><i class="fas fa-trash fa-inverse"></i></a> </p>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>


